<span class="button big">
  <% if current_user %>
    <a href="/places">see spots</a>
  <% else %>
    <%= link_to "Sign in with Facebook to start using goodspot", user_omniauth_authorize_path(:facebook) %>
  <% end %>
</span>
